html,
body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

.header_bg {
  background: url(../public/girl_notebook2.png) no-repeat right center;
  background-position: calc(100% - 130px) center;
  background-size: 26%;
}

@media (max-width: 1004px) {
  .header_bg {
    background-position: calc(100% - 25px) center;
    background-size: 40%;
  }
}

@media (max-width: 899px) {
  .header_bg {
    background: unset;
  }
}
